.main, 
.animal-info {
    border-color: darkgray;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    max-width: 330px;
}

.fact {
    font-style: italic;    
}

.science {
    list-style-type: none;
}

.science-item {
    font-style: italic;    
    font-weight: bold;
}